/* Main page */
.page {
    width: 900px;
    background-color: #9fa8ac;
    margin: auto;
    padding: 50px;
    padding-top: 30px;
}

/* Body background */
body {
    background-color: #e3e9ec;
}

/* Middle section */
.MSection {
    background-color: #8a9194;
    padding: 20px;
}


/* Main heading */
.heading {
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}


/* Introduction paragraph */
.intro {
    font-size: medium;
    font-family: "Arial";
    padding-bottom: 30px;
}

.map {
    width: 500px; /* This doesnt limit the map width, only the collumn. Past 400px or 110mm it seems to not work- it probably clashes with the column coding - will need to do it in vega and adjust the collumn spacing */
}

.heatmapcss {
    align-items: right;
}

/* Plot title */
.plotTitle {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

/* Explination paragraphs */
.explination {
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

/* Source Line */
.source {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
